/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font-family: "lato", sans-serif;
  line-height: 1.4;
  color: #666;
  text-align: center;
}

p {
  margin-bottom: 1.5em;
  font-size: 0.95rem;
}

h1,
h2,
h3,
a {
  font-family: "ubuntu", sans-serif;
  color: #555;
  font-weight: 700;
}

h1 {
  margin-top: 5px;
  font-size: 1.8rem;
}

h2 {
  margin: 2rem 0;
  text-transform: uppercase;
  font-size: 0.95rem;
}

h3 {
  font-weight: 500;
}

a {
  text-decoration: none;
}


img {
  max-width: 100%;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */
.main-nav ul {
  list-style: none;
  padding: 0;
}

.main-nav ul li {
  background-color: #fff;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.main-nav a {
  padding: 8px 0;
  display: block;
  transition: 0.2s background-color;
}

.main-nav a:hover,
.main-nav a:active {
  background-color: #eee;
}

/* ----  Containers---- */
.container {
  width: 90vw;
  margin: 0 auto;
  position: relative;
}

.main-header,
.main-footer,
#contact {
  background-color: #f5f5f5;
  padding: 1em 0;
}

.logo {
  margin-top: 20px;
  width: 70%;
}


/* ---- Skills Section ---- */

#skills {
  vertical-align: baseline;
}
.skill {
  
  display: inline-block;
  margin: 5px 20px;
  padding: 5px;
}
.skill-graph {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.skill-10 {
  background-image: conic-gradient(#22bf22 0 deg 36deg, #eee 36deg 360deg);
}
.skill-20 {
  background-image: conic-gradient(#22bf22 72deg, #eee 72deg);
}
.skill-30 {
  background-image: conic-gradient(#22bf22 108deg, #eee 108deg);
}
.skill-40 {
  background-image: conic-gradient(#22bf22 144deg, #eee 144deg);
}
.skill-50 {
  background-image: conic-gradient(#22bf22 180deg, #eee 180deg);
}
.skill-60 {
  background-image: conic-gradient(#22bf22 216deg, #eee 216deg);
}
.skill-70 {
  background-image: conic-gradient(#22bf22 252deg, #eee 252deg);
}
.skill-80 {
  background-image: conic-gradient(#22bf22 288deg, #eee 288deg);
}
.skill-90 {
  background-image: conic-gradient(#22bf22 324deg, #eee 324deg);
}
.skill-100 {
  background-image: conic-gradient(#22bf22 360deg, #eee 360deg);
}

.skill-ultra {
  background-image: conic-gradient(rgba(224, 14, 14, 0.2) 90deg, transparent 90deg),
  conic-gradient(#22bf22 360deg, #eee 360deg);
}

.skill-graph-center {
  position: absolute;
  margin: 0;
  top: 10px;
  right: 10px;
  bottom:10px;
  left: 10px;
  background-color: #fff;
  border-radius: 100%;
  font-size: 1rem;
  line-height: 60px;
}



/* ---- Contact Section ---- */
#contact {
  margin-top: 90px;
}

.contact-data {
  font-style: normal;
  margin: 30px 0;
}

.contact-data p {
  margin-bottom: 0;
}

.contact-data a {
  font-weight: 700;
  margin-left: 1em;
}

/* ---- Footer ---- */
.main-footer {
  font-size: 0.85em;
}

.main-footer-wrapper span {
  font-weight: 700;
}

.main-footer-wrapper {
  text-align: left;
  padding: 15px 0;
  font-family: "ubuntu", sans-serif;
  border-top: 1px solid #d8d6d6;
}

.main-footer-nav {
  float: right;
  text-transform: uppercase;
}

.main-footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-item-wide {
  display: none;
}

/* ---- Float clearfix ---- */
.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

/* ================================= 
  Media Queries
==================================== */
@media (min-width: 768px) {

  .main-nav a,
  a {
    transition: 0.2s box-shadow;
  }
  .main-nav a:hover,
  .main-nav a:active,
  a:hover,
  a:active {
    background-color: initial;
    box-shadow: 0 3px 0 -2px;
  }

  .main-nav ul li {
    background-color: initial;
    display: inline-block;
    margin: 0 15px;
  }

  .main-header {
    padding-bottom: 60px;
  }

  .profile-text {
    float: left;
    width: 60%;
    padding-right: 1em;
    text-align: left;
    font-size: 1.2rem;
  }

  .logo {
    float: right;
    width: 40%;
  }

  .project {
    min-height: 25em;
    width: 50%;
    float: left;
    padding: 0.25em;
  }

  .project p {
    width: 70%;

    margin: 0 auto;
  }

  .main-footer {
    padding-bottom: 50px;
  }

  .contact-text {
    width: 75%;
    margin: 0 auto;
    font-size: 1.2rem;
  }

  /* ---- footer list items ---- */
  .list-item-narrow {
    display: none;
  }
  .list-item-wide {
    display: inline-block;
    padding-left: 15px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1100px;
  }
  .main-nav ul li {
  }
  .name {
    float: left;
  }

  .main-nav {
    float: right;
    padding: 10px 0;
  }

  .main-nav ul {
    margin: 0;
  }

  .project {
    padding: 5px;
    width: 33%;
  }
}
