/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font-family: "lato", sans-serif;
  line-height: 1.4;
  color: #666;
  text-align: center;
}

p {
  margin-bottom: 1.5em;
  font-size: 0.95rem;
}

h1,
h2,
h3,
a {
  font-family: "ubuntu", sans-serif;
  color: #555;
  font-weight: 700;
}

h1 {
  margin-top: 5px;
  font-size: 1.8rem;
}

h2 {
  margin: 2rem 0;
  text-transform: uppercase;
  font-size: 0.95rem;
}

h3 {
  font-weight: 500;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */
.main-nav ul {
  list-style: none;
  padding: 0;
}

.main-nav ul li {
  background-color: #fff;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.main-nav a {
  padding: 8px 0;
  display: block;
  transition: 0.2s background-color;
}

.main-nav a:hover,
.main-nav a:active {
  background-color: #eee;
}

/* ----  Containers---- */
.container {
  width: 90vw;
  margin: 0 auto;
  position: relative;
}

.main-header,
.main-footer,
#contact {
  background-color: #f5f5f5;
  padding: 1em 0;
}

.logo {
  margin-top: 20px;
  width: 70%;
}


/* ---- Skills Section ---- */
.skill {
  display: inline-block;
  margin: 15px 25px;
  text-align: center;
}

.battery {
  display: flex;
  padding: 3px;
  position: relative;
  margin: 5px;
  width: 120px;
  height: 50px;
  background-color: #eee;
  border: 5px solid black;
  border-radius: 7px;
}

.battery::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  transform: translateY(-50%);
  display: block;
  background: black;
  height: 50%;
  width: 10px;
  border-radius: 0 100% 100% 0;
}

.cell {
  flex: 1;
  height: 100%;
  border-radius: 5px;
  background-color: #22bf22;
  margin: 0 1px;
  border: 4px solid black;
}

.cell-invisible {
  visibility: hidden;
}

.skill-description {
  margin-top: 1em;
}


/* ---- Contact Section ---- */
#contact {
  margin-top: 90px;
}

.contact-data {
  font-style: normal;
  margin: 30px 0;
}

.contact-data a {
  color: #8279db;
}

.contact-data p {
  margin-bottom: 0;
}

.contact-data a {
  font-weight: 700;
  margin-left: 1em;
}

/* ---- Footer ---- */
.main-footer {
  font-size: 0.85em;
}

.main-footer-wrapper span {
  font-weight: 700;
}

.main-footer-wrapper {
  text-align: left;
  padding: 15px 0;
  font-family: "ubuntu", sans-serif;
  border-top: 1px solid #d8d6d6;
}

.main-footer-nav {
  float: right;
  text-transform: uppercase;
}

.main-footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-item-wide {
  display: none;
}

/* ---- Float clearfix ---- */
.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

/* ================================= 
  Media Queries
==================================== */
@media (min-width: 768px) {

  .main-nav a,
  a {
    transition: 0.2s box-shadow;
  }
  .main-nav a:hover,
  .main-nav a:active,
  a:hover,
  a:active {
    background-color: initial;
    box-shadow: 0 3px 0 -2px;
  }

  .main-nav ul li {
    background-color: initial;
    display: inline-block;
    margin: 0 15px;
  }

  .main-header {
    padding-bottom: 60px;
  }

  .profile-text {
    float: left;
    width: 60%;
    padding-right: 1em;
    text-align: left;
    font-size: 1.2rem;
  }

  .logo {
    float: right;
    width: 40%;
  }

  .project {
    min-height: 25em;
    width: 50%;
    float: left;
    padding: 0.25em;
  }

  .project p {
    width: 70%;
    margin: 0 auto;
  }

  .contact-text {
    width: 75%;
    margin: 0 auto;
    font-size: 1.2rem;
  }

  .main-footer {
    padding-bottom: 20px;
  }

  /* ---- footer list items ---- */
  .list-item-narrow {
    display: none;
  }
  .list-item-wide {
    display: inline-block;
    padding-left: 15px;
  }
}

@media (min-width: 1024px) {
  
  .container {
    max-width: 1200px;
  }

  .name {
    float: left;
  }

  .main-nav {
    float: right;
    padding: 10px 0;
  }

  .main-nav ul {
    margin: 0;
  }

  .project {
    padding: 5px;
    width: 33.3%;
  }
}
